/* Menu general */
div.erm_menu {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    max-width: initial;
}
.erm_menu, .erm_menu ul { list-style: none; margin: 0; padding: 0; }
.erm_menu li { margin-left: 0px; }

.erm_menu h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

.erm_product {
    display: grid;
    grid-template-columns: auto 3fr auto;
    justify-content: center;
}

.erm_product > * {
    margin: 1rem;
}


.image-popup {
    max-width: 10rem;
    outline: none;
}


.erm_product_image {
    width: 100%;
}

.erm_product_title {
    display: inline;
    font-weight: bold;
    text-transform: uppercase;
}

.erm_product_title.title_alt {
    font-weight: normal;
    font-style: italic;
    text-transform: unset;
}

.erm_product_title.title_alt::before {
    content: '/';
    margin: 0 0.5em;
    font-style: initial;
}

.price {
    font-size: 15pt;
    font-weight: bold;
}